<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Markdown Editor</title>
    <link rel="stylesheet" href="http://editor.md.ipandao.com/examples/css/style.css"/>
    <link rel="stylesheet" href="../assets/editor/css/editormd.css"/>
</head>
<body>
<div id="layout">
    <header>
        <h1>Simple example</h1>
    </header>
    <div id="test-editormd">
                <textarea style="display:none;"># 测试

参数 | 示例值 | 参数描述
--- | --- | ---
productId | IF | 产品ID 如: IF, IC, IH, TS, TF, T
date| 2019-7-5 | 交易日期

```go
t.Timestamp = fi.ModTime().UnixNano() / 1e6
	sort.Sort(ArticleList)
if _, err := c.WriteString("success"); err != nil {
	log.Println("[ERROR]", err)
}
```</textarea>
    </div>
</div>
<script src="http://editor.md.ipandao.com/examples/js/jquery.min.js"></script>
<script src="../assets/editor/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        testEditor = editormd("test-editormd", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "../assets/editor/lib/"
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
</body>
</html>