<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>根目录{{.Prefix}}</title>
    <style type="text/css">
        table {
            width: 800px;
            font-size: 18px;
            font-family: Consolas, monospace;
        }

        th {
            text-align: left;
            background: beige;
            padding: 5px 10px;
        }

        tr {
            line-height: 1.5;
        }

        td {
            background: whitesmoke;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>文档名</th>
        <th>文档大小</th>
        <th>修改时间</th>
    </tr>
    </thead>
    <tbody>
    {{- if ne $.Prefix "/"}}
        <tr>
            <td><a href="../">../</a></td>
            <td> -</td>
            <td> -</td>
        </tr>
    {{- end}}
    {{- range .FileList}}
        {{- if .IsDir}}
            <tr>
                <td><a href="/dir{{$.Prefix}}{{.Name}}/">{{.Name}}/</a></td>
                <td> -</td>
                <td>{{.ModTime}}</td>
            </tr>
        {{- else}}
            <tr>
                <td><a href="/get{{$.Prefix}}{{.Name}}">{{.Name}}</a></td>
                <td>{{.Size}}</td>
                <td>{{.ModTime}}</td>
            </tr>
        {{- end}}
    {{- end}}
    </tbody>
</table>
</body>
</html>